@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
    font-family: Lato;
    text-decoration: none;
}

header {
    background-color: rgb(203, 195, 179);

}

.head-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 120px;
    margin-left: 170px;
}

.logo-wrap {
    flex-grow: 4;
}

.item-wrap {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    margin-right: 30px;
}

body {
    margin: 0;
    background-color: rgb(255, 250, 240);
}

.item1,
.item2,
.item3 {
    transition-duration: 0.5s;
    font-weight: 1000;
    padding-left: 25px;
    padding-right: 25px;
    height: 50%;
}

.item3 :visited {
    color: black;
}

.item2 :visited {
    color: black;
}

.item1,
.active {
    background-color: rgb(165, 159, 146);
    color: black;
}


.item1:hover {
    background-color: rgb(165, 159, 146);
    cursor: pointer;
}

.item2:hover {
    background-color: rgb(165, 159, 146);
    cursor: pointer;
}

.item3:hover {
    background-color: rgb(165, 159, 146);
    cursor: pointer;

}

.imgclass {
    opacity: 70%;
    width: 100%;
    height: auto;
}


.main-tab {
    height: AUTO;
    top: 0;

}

.burger-wrap {
    display: none;
}

.text-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgba(145, 145, 145, .4);
    width: 400px;
    padding: 20px;
    position: sticky;
    margin-top: -300px;
    margin-right: 25px;
    float: right;
}

.h1class {
    margin-top: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
}

.pclass1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
}

.button1 {
    background-color: rgb(145, 145, 145);
    padding: 10px;
    transition: 0.5s;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.38);
}

.button1:hover {
    background-color: rgb(110, 110, 110);
    cursor: pointer;
}

.sec-tab {
    height: 700px;
    justify-content: space-between;
}

.head-text {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.island-wrap {
    display: flex;
    justify-content: center;
}

.item h1 {
    font-size: 150%;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.island-text p {
    margin: 20px;
    text-align: center;
    font-weight: 300;
    font-size: large;
    margin-top: 0;
}

.island {
    height: 350px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.38);
}

.button2-wrap {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button2 {
    background-color: rgb(145, 145, 145);
    padding: 10px;
    transition: 0.5s;
    width: 100px;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.38);
}

.button2:hover {
    background-color: rgb(110, 110, 110);
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: small;
    font-weight: 450;
    background-color: rgb(203, 195, 179);
    height: 150px;
    bottom: 0;
    margin-top: 50px;
}

.island-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    .imgclass {
        display: none;
    }

    .main-tab {
        display: flex;
        justify-content: center;
    }

    .text-tab {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: rgb(255, 255, 255);
        background-color: rgba(71, 63, 49, 0.719);
        width: 300px;
        padding: 20px;
        margin-top: 50px;
        margin-right: 0;
        margin-left: 0;
        float: none;
    }

    .head-text {
        font-size: 40%;
        height: 120px;
    }

    .button1 {
        background-color: rgb(150, 140, 120);
    }

    .island-wrap {
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .island {
        height: 110px;
        margin-left: 30px;
    }

    .island-text {
        text-align: start;
    }

    .island-text h1 {
        font-size: small;
        margin-left: 20px;
    }

    .island-text p {
        font-size: smaller;
        text-align: start;
        margin-right: 0;
        width: 200px;
    }

    .sec-tab{
        height: 520px;
    }

    .burger {
        height: 40px;
        margin-right: 5vw;
    }

    .item-wrap {
        margin-right: 0;
    }

    .item {
        flex-direction: row;
        width: auto;
    }

    .burger-wrap {
        display: flex;
        right: 0;
    }

    .item1 {
        display: none;
    }

    .item2 {
        display: none;
    }

    .item3 {
        display: none;
    }

    .logo {
        margin-left: 5vw;
    }

    .footer {
        height: 90px;
    }
}